---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Stack from "../components/Stack.astro";
---

<Layout 
	title="Francisco Arjona - Junior Full Stack Developer"
	description="Hire me as a Software Engineer for your project"
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-32">
			<h1 class="text-5xl font-bold flex justify-start gap-x-4 pb-4">
				Hey, I'm Paco
			</h1>
			<h2 class="text-2xl text-wrap opacity-90 pb-4">
				+1 year of experience. Full Stack Developer. From Málaga, Spain.
			</h2>
			<h3 class="text-xl opacity-80 pb-8"><span class="text-yellow-200/90">I'm currently actively seeking employment.</span> I'm not looking for a specific sector or project, but one that allows me to continue growing in my career as a professional.</h3>

			<Stack/>
		</section>
	</main>
</Layout>

