---
const personalImageAlt = "Francisco Arjona";
---

<article
  class="flex flex-col items-center justify-center gap-8 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-fuchsia-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Francisco but they call me Paco. I started programming at the
      age of 16 and from there I decided to study Software Engineering.
      Currently, I am <strong>actively seeking employment</strong>.
    </p>

    <p>
      Some of my successes include <strong
        >managing the development of a Shopify application at my previous
        company</strong
      >. Although I am no longer with them, I am very grateful for the time we
      worked together.
    </p>

    <p>
      Regarding my current situation, <strong
        >I am involved in a business project working as a Frontend developer at <em
          class="italic">Sport Analytica</em
        ></strong
      >. The goal is to create a startup whose service is to enhance the
      training sessions and performance of our athletes.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/images/my-photo.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-44 h-44 md:order-2 rounded-full border-4 dark:border-white shadow-xl transform hover:scale-105 transition-transform duration-300"
  />
</article>
