---
import Social from "./Social.astro"

const currentYear = new Date().getFullYear()
---

<footer
  id="#footer"
  class="rounded-lg shadow m-4 bg-slate-400/40 dark:text-gray-200 dark:bg-fuchsia-800/40 p-2 backdrop-blur-xl w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-auto flex items-center justify-between"
  >
    <span class="text-sm sm:text-center dark:text-zinc-200/90"
      >© {currentYear}
      <a href="https://www.linkedin.com/in/francisco-arjona/" class="hover:underline">pacoarjonaj</a>. All rights reserved.
    </span>
    
    <Social />
  </div>
</footer>