---
import GitHub from '../components/icons/GitHub.astro'
import LinkedIn from '../components/icons/LinkedIn.astro'
import Email from '../components/icons/Email.astro'
---

<header class="flex justify-between items-center pb-6 w-[1120px] mx-auto">
  <img
    class="rounded-full size-12"
    src="/images/my-photo.jpeg"
    alt="my-photo"
  />

  <nav class="flex gap-x-10 opacity-80">
    <a href="https://github.com/pacoarjonaj" target="_blank" rel="noopener">
      <GitHub />
    </a>

    <a href="https://www.linkedin.com/in/francisco-arjona/" target="_blank" rel="noopener">
      <LinkedIn />
    </a>

    <a href="/" target="_blank" rel="noopener">
      <Email />
    </a>
  </nav>

</header>
