---
import ThemeSwitch from "./ThemeSwitch.astro"

const navItems = [
  {
    title: 'Experience',
    label: 'experience',
    url: '#experience'
  },
  {
    title: 'Projects',
    label: 'projects',
    url: '#projects'
  },
  {
    title: 'About',
    label: 'about',
    url: '#about'
  }
]
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <nav
    class="flex px-4 text-sm font-medium rounded-full justify-center items-center bg-slate-400/40  dark:text-gray-200 dark:bg-fuchsia-800/40 backdrop-blur-xl"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-fuchsia-500 dark:hover:text-fuchsia-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }

    <ThemeSwitch />
  </nav>
</header>
