---
import Nodejs from "./icons/Nodejs.astro";
import Javascript from "./icons/Javascript.astro";
import Typescript from "./icons/Typescript.astro";
import React from "./icons/React.astro";
import Nextjs from "./icons/Nextjs.astro";
import Css from "./icons/Css.astro";
import Mongodb from "./icons/Mongodb.astro";
import Mysql from "./icons/Mysql.astro";
---

<div class="flex flex-col items-center justify-center gap-y-8">
  <div class="flex flex-row space-x-16">
    <Nodejs />
    <Javascript />
    <Typescript />
    <React />
  </div>

  <div class="flex flex-row space-x-16">
    <Nextjs />
    <Css />
    <Mongodb />
    <Mysql />
  </div>
</div>
