---
import NodejsIcon from "./icons/Nodejs.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import TypescriptIcon from "./icons/Typescript.astro";
import ReactIcon from "./icons/React.astro";
import NextjsIcon from "./icons/Nextjs.astro";
import CssIcon from "./icons/Css.astro";
import MongodbIcon from "./icons/Mongodb.astro";
import MysqlIcon from "./icons/Mysql.astro";
---

<div class="flex flex-col items-center justify-center gap-y-8">
  <div class="flex flex-row space-x-16">
    <NodejsIcon />
    <JavascriptIcon />
    <TypescriptIcon />
    <ReactIcon />
  </div>

  <div class="flex flex-row space-x-16">
    <NextjsIcon />
    <CssIcon />
    <MongodbIcon />
    <MysqlIcon />
  </div>
</div>
